build/
build-x86/
build-arm/
dist/
out/
*.o
*.so
*.a
*.dll
*.dylib
.DS_Store
*.log
.idea/
.vscode/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
_CPack_Packages/
*.tar.gz
*.zip
*.pkg
*.exe
